@include oColorsSetUseCase(box, border, grey-tint4);

.results-container {
	@include oGridRow;
}

.result-box {
	@include oGridColumn(6);
	@include oColorsFor(box, background);

	margin-bottom: 10px;
	height: 560px;
}

.result-box__chart {
	&__bar-wrapper {

		rect {
			fill: oColorsGetPaletteColor(red-tint3);

			&:hover {
				fill: oColorsGetPaletteColor(red-tint1);
			}
		}

		text {
			fill: oColorsGetPaletteColor(black);
		}
	}

	&__axis {
		text {
			font: 10px sans-serif;
		}

		path,
		line {
			fill: none;
			stroke: oColorsGetColorFor(page, text);
			shape-rendering: crispEdges;
		}

		&--x path {
			display: none;
		}
	}

	&--country {
		margin: 20px 10px 10px;
	}
}

.result-box__title {
	@include oFtTypographyTitleLarge;

	margin-top: 10px;
	margin-left: 10px;
}
